<div class="navbar">
  <div>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="/logout">Logout</a>
  </div>
    <div style="padding: 12px;">
      <form action="/" method="post">
      <input type="search" name="query"/>
      <button type="submit">Search</button>
    </form>
    </div>
  </div>